certifi==2018.4.16
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
Django==2.2.24
Faker==0.8.13
gunicorn==19.8.1
idna==2.6
itypes==1.1.0
Jinja2==2.10
MarkupSafe==1.0
mysqlclient==1.3.12
python-dateutil==2.7.2
pytz==2018.3
requests==2.18.4
six==1.11.0
text-unidecode==1.2
uritemplate==3.0.0
urllib3==1.22
