{% extends "base.html" %}
{% load static %}
{% block css %}
    <style>
        .toolbar {
            border: solid 1px #ebebeb;
        }

        .editor {
            min-height: 120px;
        }

        hr {
            width: 50%;
        }
    </style>
{% endblock %}
{% block header %}
    <div class="ask-header">
        <div class="container-fulid">
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-8">
                    <div style="padding: 16px">
                        <div class="row">
                            <div class="col-xs-9">
                                {% for topic in topics_list %}
                                    <span><a class="ask-topic" href="{% url 'topics:detail' topic.id %}">{{ topic.name }}</a></span>
                                {% endfor %}
                                <h1>{{ ask.title }}</h1>
                                <div class="ask-content">{{ ask.content }}</div>
                            </div>
                            <div class="col-xs-3">
                                <div class="NumberBoard" style="border-left: solid 1px #ebebeb">
                                    <div class="NumberBoard-itemname">被浏览</div>
                                    <div class="NumberBoard-itemnum">{{ ask.clicks }}</div>
                                </div>
                                <div class="NumberBoard">
                                    <div class="NumberBoard-itemname">关注者</div>
                                    <div class="NumberBoard-itemnum">{{ ask.followers.count }}</div>
                                </div>
                            </div>
                        </div>
                        {% if ask in user.follow_asks.all %}
                            <button class="Button Button-blue" onclick="followAsk(this, {{ ask.id }})" style="margin-left: 0" hidden>关注问题</button>
                            <button class="Button Button-grey" onclick="unfollowAsk(this, {{ ask.id }})" onmouseenter="enter(this)" onmouseleave="leave(this)" style="margin-left: 0;width: 90px">已关注</button>
                        {% else %}
                            {% if user.is_authenticated %}
                                <button class="Button Button-blue" onclick="followAsk(this, {{ ask.id }})" style="margin-left: 0">关注问题</button>
                            {% else %}
                                <button class="Button Button-blue" data-toggle="modal" data-target="#loginModal" style="margin-left: 0">关注问题</button>
                            {% endif %}
                            <button class="Button Button-grey" onclick="unfollowAsk(this, {{ ask.id }})" onmouseenter="enter(this)" onmouseleave="leave(this)" style="margin-left: 0;width: 90px" hidden>已关注</button>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <button id="answer-btn" class="Button Button-white"><i class="icon icon-pencil"></i> 写回答</button>
                        {% else %}
                            <button data-toggle="modal" data-target="#loginModal" class="Button Button-white"><i class="icon icon-pencil"></i> 写回答</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div id="answer-card" class="card" style="display: none">
        <div class="answer-card-header">
            <img src="{{ user.get_image_url }}" class="img-rounded" width="38px" height="38px">
            <div class="user-info">
                <div class="user-name">{{ user.nickname }}</div>
                <div class="user-intro">{{ user.intro }}</div>
            </div>
        </div>

        <div id="editor1" class="toolbar"></div>
        <div id="editor2" class="editor"></div>
        <div style="min-height: 40px">
            <form action="{% url 'asks:post_answer' ask.id %}" method="post">
                {% csrf_token %}
                {{ form.content }}
                {{ form.content_text }}
                <button type="submit" class="btn btn-primary"
                        style="float: right;margin-right: 10px">回答问题
                </button>
            </form>
        </div>
    </div>
    {% if answer_view %}
        {% if ask.answers.count > 1 %}
        <div class="card button-card">
            <a href="{% url 'asks:detail' ask.id %}">查看全部{{ ask.answers.count }}个回答</a>
        </div>
        {% endif %}
        <div class="card">
            {% include "answer_block.html" %}
        </div>
        {% if ask.answers.count > 1 %}
        <div class="card button-card">
            <a href="{% url 'asks:detail' ask.id %}">查看全部{{ ask.answers.count }}个回答</a>
        </div>
        {% endif %}
    {% else %}
        <div class="card" id="answers-list">
            <div style="padding: 10px; font-size: 15px; font-weight: 600">{{ ask.answers.count }}个回答</div>
            {% for answer in answers %}
                {% include "answer_block.html" %}
            {% endfor %}
            {% if answers.has_next %}
                <button class="Button Button-white get-more" onclick="answersMore(this, {{ answers.next_page_number }})">更多</button>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block sidebar %}

    {% if answer_view %}
        <div class="card">
            <div class="card-header">关于作者</div>
            <div>
                <img src="{{ answer.author.get_image_url }}" class="pull-left image-card">
                <a href="{% url 'users:detail' answer.author.id %}" class="user-name"><h2>{{ answer.author.nickname }}</h2></a>
                <p>{{ answer.author.intro }}</p>
            </div>
            <br>
            <div class="col-xs-6">
                <a href="{% url 'users:answers' answer.author.id %}">
                <div class="follow-board">
                    <div class="NumberBoard-itemname">回答</div>
                    <div class="NumberBoard-itemnum">{{ answer.author.answers.count }}</div>
                </div>
                </a>

            </div>
            <div class="col-xs-6">
                <a href="{% url 'users:followers' answer.author.id %}">
                <div class="follow-board">
                    <div class="NumberBoard-itemname">关注者</div>
                    <div class="NumberBoard-itemnum">{{ answer.author.funs.count }}</div>
                </div>
                </a>
            </div>
        </div>
    {% endif %}
        <div class="card">
            <div class="card-header">其他问题</div>
            {% for ask in asks %}
                <div class="card-list">
                    <a href="{% url 'asks:detail' ask.id %}">{{ ask.title }}</a>
                </div>
            {% endfor %}
        </div>


{% endblock %}

{% block script %}
    <script src="{% static 'js/wangEditor.min.js' %}"></script>
    <script>
        let E = window.wangEditor;
        let editor = new E('#editor1', '#editor2');
        let answerText = $('#{{ form.content_text.id_for_label }}');
        let answerHtml = $('#{{ form.content.id_for_label }}');
        editor.customConfig.zIndex = 0;
        editor.customConfig.onchange = function () {
            // 监控变化，同步更新到 textarea
            answerText.val(editor.txt.text());
            answerHtml.val(editor.txt.html());
        };
        editor.customConfig.menus = [
            'bold',  // 粗体
            'italic',  // 斜体
            'head',  // 标题
            'quote',  // 引用
            'code',  // 插入代码
            'list',  // 列表
            'link',  // 插入链接
            'image'  // 插入图片
        ];
        editor.create();
        // 初始化 textarea 的值
        answerText.val(editor.txt.text());
        answerHtml.val(editor.txt.html());

        function answersMore(x, page) {
        let link = '{% url 'asks:detail' pk=ask.id %}' + '?page=' + page;
        $(x).html('<i class="icon icon-spin icon-spinner-snake"></i> 加载中...');
        fetch(link, {
            method: 'GET',
            credentials: 'include'
        }).then(function (response) {
            if (response.ok) {
                return response.text();
            } else {
                throw new Error('404!')
            }
        }).then(function (data) {
            $('#answers-list').append(data);
            $(x).hide();
        }).catch(function (err) {
            console.log(err)
        });
    }

        $(document).ready(function () {
            $('#answer-btn').click(function () {
                $('#answer-card').show();
            });
        });

    </script>
{% endblock %}