{% extends "base.html" %}

{% block header %}
    <div class="container-fulid">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                <div class="card">
                    <div class="col-xs-3" style="max-width: 200px">
                        <img src="{{ people.get_image_url }}" class="img-rounded img-header">
                    </div>
                    <div class="col-xs-9" style="margin-top: 30px">
                        <h1>{{ people.nickname }}<span
                                style="font-weight: 400; font-size: 18px">&nbsp;&nbsp;&nbsp;{{ people.intro }}</span>
                        </h1>
                        <div style="margin: 20px 0">
                            <p><i class="icon icon-leaf"></i>&nbsp;&nbsp;{{ people.work }}</p>
                            <p>
                                {% if people.sex == 'M' %}
                                    <i class="icon icon-mars"></i>
                                {% else %}
                                    <i class="icon icon-venus"></i>
                                {% endif %}
                                {% if user == people %}
                                    <a href="{% url 'users:profile' %}" class="Button Button-white" style="float: right">编辑个人资料</a>
                                {% else %}
                                    {% if is_following %}
                                    <a href="{% url 'users:unfollow' people.id %}"><button class="Button Button-grey" onmouseenter="enter(this)" onmouseleave="leave(this)" style="float: right;width: 90px">已关注</button></a>
                                    {% else %}
                                        {% if user.is_authenticated %}
                                            <a href="{% url 'users:follow' people.id %}"><button class="Button Button-blue" style="float: right;width: 90px"><i class="icon icon-plus"></i> 关注</button></a>
                                        {% else %}
                                            <button class="Button Button-blue" data-toggle="modal" data-target="#loginModal" style="float: right;width: 90px"><i class="icon icon-plus"></i> 关注</button>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    {% if AnswerView %}
    <div class="card" id="answers-list">
        <div>
            <a href="{% url 'users:answers' people.id %}" class="tab-link tab-active">回答 <span class="tab-num">{{ people.answers.count }}</span></a>
            <a href="{% url 'users:asks' people.id %}" class="tab-link ">提问 <span class="tab-num">{{ people.asks.count }}</span></a>
            <a href="{% url 'users:collections' people.id %}" class="tab-link">收藏 <span class="tab-num">{{ people.collections.count }}</span></a>
            <a href="{% url 'users:following' people.id %}" class="tab-link">关注 </a>
        </div>
        <div class="user-header">他的回答</div>
        {% for answer in answers %}
           {% include "answer_block.html" %}
        {% endfor %}
        {% if answers.has_next %}
            <button class="Button Button-white get-more" onclick="answersMore(this, {{ answers.next_page_number }})">更多</button>
        {% endif %}
    </div>

    {% elif AskView%}
    <div class="card">
        <div>
            <a href="{% url 'users:answers' people.id %}" class="tab-link">回答 <span class="tab-num">{{ people.answers.count }}</span></a>
            <a href="{% url 'users:asks' people.id %}" class="tab-link tab-active">提问 <span class="tab-num">{{ people.asks.count }}</span></a>
            <a href="{% url 'users:collections' people.id %}" class="tab-link">收藏 <span class="tab-num">{{ people.collections.count }}</span></a>
            <a href="{% url 'users:following' people.id %}" class="tab-link">关注 </a>
        </div>
        <div class="user-header">他的提问</div>
        {% for ask in people.asks.all|dictsortreversed:'create_time' %}
            <div style="border-top: solid 1px #f6f6f6">
                <div class="answer-ask-header"><a href="{% url 'asks:detail' ask.id %}" style="color: black">{{ ask.title }}</a></div>
                <div class="content-footer">{{ ask.create_time|date:'Y-m-d' }}&nbsp;·&nbsp;{{ ask.answers.count }}个回答</div>
            </div>

        {% endfor %}
    </div>
    {% elif CollectionView %}
    <div class="card" id="answers-list">
        <div>
            <a href="{% url 'users:answers' people.id %}" class="tab-link">回答 <span class="tab-num">{{ people.answers.count }}</span></a>
            <a href="{% url 'users:asks' people.id %}" class="tab-link">提问 <span class="tab-num">{{ people.asks.count }}</span></a>
            <a href="{% url 'users:collections' people.id %}" class="tab-link tab-active">收藏 <span class="tab-num">{{ people.collections.count }}</span></a>
            <a href="{% url 'users:following' people.id %}" class="tab-link">关注 </a>
        </div>
        <div class="user-header">他的收藏</div>
        {% for answer in answers %}
           {% include "answer_block.html" %}
        {% endfor %}
        {% if answers.has_next %}
            <button class="Button Button-white get-more" onclick="answersMore(this, {{ answers.next_page_number }})">更多</button>
        {% endif %}
    </div>
    {% elif FollowingView %}
    <div class="card">
        <div>
            <a href="{% url 'users:answers' people.id %}" class="tab-link">回答 <span class="tab-num">{{ people.answers.count }}</span></a>
            <a href="{% url 'users:asks' people.id %}" class="tab-link">提问 <span class="tab-num">{{ people.asks.count }}</span></a>
            <a href="{% url 'users:collections' people.id %}" class="tab-link">收藏 <span class="tab-num">{{ people.collections.count }}</span></a>
            <a href="{% url 'users:following' people.id %}" class="tab-link tab-active">关注 </a>
        </div>
        <div>
            <a href="{% url 'users:following' people.id %}" class="tab-link follow-active">他关注的人</a>
            <a href="{% url 'users:followers' people.id %}" class="tab-link">关注他的人</a>
            <a href="{% url 'users:follow_asks' people.id %}" class="tab-link">关注的问题</a>
        </div>
        {% for following in people.followings.all %}
            <div style="border-top: solid 1px #f6f6f6">
                <div class="answer-card-header" style="justify-content: space-between">
                    <div style="display: flex">
                        <img src="{{ following.get_image_url }}" class="img-rounded" width="38px" height="38px">
                        <div class="user-info">
                            <a href="{% url 'users:detail' following.id %}" class="user-name">{{ following.nickname }}</a>
                            <div class="user-intro">{{ following.intro }}</div>
                        </div>
                    </div>
                    {% if following != user %}
                        {% if following in followers_list %}
                            <a href="{% url 'users:unfollow' following.id %}">
                                <button class="Button Button-grey" onmouseenter="enter(this)" onmouseleave="leave(this)" style="float: right;width: 90px">已关注</button>
                            </a>
                        {% else %}
                            <a href="{% url 'users:follow' following.id %}">
                                <button class="Button Button-blue" style="float: right;width: 90px"><i class="icon icon-plus"></i> 关注</button>
                            </a>
                        {% endif %}
                    {% endif %}
                </div>

            </div>
        {% endfor %}
    </div>
    {% elif FollowerView %}
    <div class="card">
        <div>
            <a href="{% url 'users:answers' people.id %}" class="tab-link">回答 <span class="tab-num">{{ people.answers.count }}</span></a>
            <a href="{% url 'users:asks' people.id %}" class="tab-link">提问 <span class="tab-num">{{ people.asks.count }}</span></a>
            <a href="{% url 'users:collections' people.id %}" class="tab-link">收藏 <span class="tab-num">{{ people.collections.count }}</span></a>
            <a href="{% url 'users:following' people.id %}" class="tab-link tab-active">关注 </a>
        </div>
        <div>
            <a href="{% url 'users:following' people.id %}" class="tab-link">他关注的人</a>
            <a href="{% url 'users:followers' people.id %}" class="tab-link follow-active">关注他的人</a>
            <a href="{% url 'users:follow_asks' people.id %}" class="tab-link">关注的问题</a>
        </div>
        {% for follower in people.funs.all %}
            <div style="border-top: solid 1px #f6f6f6">

                <div class="answer-card-header" style="justify-content: space-between">
                    <div style="display: flex">
                        <img src="{{ follower.get_image_url }}" class="img-rounded" width="38px" height="38px">
                        <div class="user-info">
                            <a href="{% url 'users:detail' follower.id %}" class="user-name">{{ follower.nickname }}</a>
                            <div class="user-intro">{{ follower.intro }}</div>
                        </div>
                    </div>
                    {% if follower != user %}
                        {% if follower in followers_list %}
                            <a href="{% url 'users:unfollow' follower.id %}">
                                <button class="Button Button-grey" onmouseenter="enter(this)" onmouseleave="leave(this)" style="float: right;width: 90px">已关注</button>
                            </a>
                        {% else %}
                            <a href="{% url 'users:follow' follower.id %}">
                                <button class="Button Button-blue" style="float: right;width: 90px"><i class="icon icon-plus"></i> 关注</button>
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% elif FollowAskView%}
    <div class="card">
        <div>
            <a href="{% url 'users:answers' people.id %}" class="tab-link">回答 <span class="tab-num">{{ people.answers.count }}</span></a>
            <a href="{% url 'users:asks' people.id %}" class="tab-link">提问 <span class="tab-num">{{ people.asks.count }}</span></a>
            <a href="{% url 'users:collections' people.id %}" class="tab-link">收藏 <span class="tab-num">{{ people.collections.count }}</span></a>
            <a href="{% url 'users:following' people.id %}" class="tab-link tab-active">关注 </a>
        </div>
        <div>
            <a href="{% url 'users:following' people.id %}" class="tab-link">他关注的人</a>
            <a href="{% url 'users:followers' people.id %}" class="tab-link">关注他的人</a>
            <a href="{% url 'users:follow_asks' people.id %}" class="tab-link follow-active">关注的问题</a>
        </div>
        {% for ask in people.follow_asks.all %}
            <div style="border-top: solid 1px #f6f6f6">
                <div class="answer-ask-header"><a href="{% url 'asks:detail' ask.id %}" style="color: black">{{ ask.title }}</a></div>
                <div class="content-footer">{{ ask.create_time|date:'Y-m-d' }}&nbsp;·&nbsp;{{ ask.answers.count }}个回答&nbsp;·&nbsp;{{ ask.followers.count }}个关注</div>
            </div>

        {% endfor %}
    </div>
    {% endif %}

 {% endblock %}

{% block sidebar %}
    <div class="card">
        <div class="col-xs-6" style="border-right: solid 1px #8590a6;">
            <a href="{% url 'users:following' people.id %}">
            <div class="follow-board">
                <div class="NumberBoard-itemname">关注了</div>
                <div class="NumberBoard-itemnum">{{ people.followings.count }}</div>
            </div>
            </a>

        </div>
        <div class="col-xs-6">
            <a href="{% url 'users:followers' people.id %}">
            <div class="follow-board">
                <div class="NumberBoard-itemname">关注者</div>
                <div class="NumberBoard-itemnum">{{ people.funs.count }}</div>
            </div>
            </a>
        </div>
    </div>
    <div class="user-item">
        <a href="{% url 'users:follow_asks' people.id %}"><span>关注的问题</span><span style="float: right">{{ people.follow_asks.count }}</span></a>
    </div>
    <div class="user-item"><a>个人主页被浏览{{ people.clicks }}次</a></div>
{% endblock %}

{% block script %}
<script>


    function answersMore(x, page) {
        {% if CollectionView %}
            let link = '{% url 'users:collections' pk=people.id %}' + '?page=' + page;
        {% else %}
            let link = '{% url 'users:answers' pk=people.id %}' + '?page=' + page;
        {% endif %}
        fetch(link, {
            method: 'GET',
            credentials: 'include'
        }).then(function (response) {
            if (response.ok) {
                return response.text();
            } else {
                throw new Error('404!')
            }
        }).then(function (data) {
            $('#answers-list').append(data);
            $(x).hide();
        }).catch(function (err) {
            console.log(err)
        });
    }

</script>
{% endblock %}